<div class="container">
  <h2 class="my-5">Edit your offer</h2>

  <div class="create_offer_form">
    <%= simple_form_for @coaching_offer do |f| %>
      <%= f.input :skill, collection: ["Ruby", "Rails", "JavaScript", "HTML", "CSS", "FrontEnd", "BackEnd", "Python", "PHP"] %>
      <%= f.input :title %>
      <%= f.input :description, as: :text %>
      <%= f.input :price %>
      <%= f.submit 'Save offer', class: "a-btn btn-flat" %>
    <% end %>
  </div>
</div>
